%legend
  Список лидов


%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Имя
      %th Телефон
      %th Email
      %th Статус
      %th #
  %tbody
    = render partial: 'leads/list', locals: {leads: @leads}
